.crear-gif-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    height: 600px;
    width: 100%;
}

.camara-img {
    position: relative;
    top: 20%;
    left: 5%;
}

.luz {
    position: relative;
    display: block;
    left: 125px;
    bottom: 135px;
    width: 50px;
    height: 100px;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 70%);
    background-image: linear-gradient(267deg, rgba(136,243,226,0.00) 22%, #50E3C2 100%);
}

.creador {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.borde {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #572EE5;
    width: 90%;
    height: 390px;

    h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 25px;
        font-weight: 800;
        color: #572EE5;
        text-align: center;
    }

    span {
        color: #5ED7C6;
    }

    p {
        margin-top: 10px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
    }
}

.borde-noc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 90%;
    height: 390px;

    h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 25px;
        font-weight: 800;
        color: white;
        text-align: center;
    }

    span {
        color: #5ED7C6;
    }

    p {
        margin-top: 10px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
    }
}

.marco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 90%;
}

.fondo-gif {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #572EE5;
    opacity: 0.6;
    width: 480px;
    height: 320px;
}

.contenedor-botones {
    position: relative;
    bottom: 50%;
    left: 80%;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
}

.boton-tarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    background-color: white;
    border: none;
    color: #572EE5;
    border-radius: 5px;
}

.info-gif {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 130px;
    opacity: 1;

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 700;
        color: white;
    }
}

.fondo-img {
    width: 22px;
    height: 22px;
}

.camara {
    width: 300px;
    height: 200px;
}

.pelicula {
    position: relative;
    left: -8%;
    bottom: 15%;
    align-self: flex-end;
    justify-self: baseline;
}

.pasos {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 20%;
    justify-content: space-between;
    margin: 25px 0;
}

.paso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid #572EE5;
    border-radius: 50%;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #572EE5;
}

.paso-actual {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid #572EE5;
    border-radius: 50%;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #572EE5;
}

.paso-noc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid white;
    border-radius: 50%;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.paso-actual-noc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid white;
    border-radius: 50%;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: black;
    background-color: white;
}

.linea {
    width: 100%;
    margin-top: -20px;
    height: 7px;
    background-color: #572EE5;
    border-radius: 25px;
}

.linea-noc {
    width: 100%;
    margin-top: -20px;
    height: 7px;
    background-color: white;
    border-radius: 25px;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 127px;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700;
    background-color: inherit;
    color: #572EE5;
    border: 1px solid #572EE5;
    border-radius: 25px;
}

.control:hover {
    background-color: #572EE5;
    color: white;
}

.control-noc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 127px;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700;
    background-color: inherit;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
}

.control-noc:hover {
    background-color: white;
    color: black;
}

.misc {
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    bottom: 50px;
}

.contador {
    position: relative;
    right: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    background-color: inherit;
    font-weight: 700;
    color: #572EE5;
}

.contador-noc {
    position: relative;
    right: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    background-color: inherit;
    font-weight: 700;
    color: white;
}

.repetir {
    position: relative;
    height: 20px;
    right: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #572EE5;
    border: none;
}

.repetir:hover {
    border-bottom: 2px solid #5ED7C6;
}

.repetir-noc {
    position: relative;
    height: 20px;
    right: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700;
    background-color: inherit;
    color: white;
    border: none;
}

.repetir-noc:hover {
    border-bottom: 2px solid #5ED7C6;
}