footer {
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid #572EE5;
    height: 116px;
    margin-top: 182px;
    padding: 0 5%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;

    a:hover {
        color: #572EE5;
    }
}